<form [formGroup]="form" (ngSubmit)="createClient()" class="client-form">
  <mat-form-field appearance="fill">
    <mat-label>Имя</mat-label>
    <input matInput formControlName="fio" />
    <mat-error *ngIf="form.get('fio')?.hasError('required')">
      Имя обязательно
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
    <mat-error *ngIf="form.get('email')?.hasError('required')">
      Email обязателен
    </mat-error>
    <mat-error *ngIf="form.get('email')?.hasError('email')">
      Неверный формат email
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Шаблон</mat-label>
    <input matInput formControlName="template" value="Тестовый" readonly />
    <mat-error *ngIf="form.get('template')?.hasError('required')">
      Шаблон обязателен
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Создать клиента
  </button>
</form>
